<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='CSS/style.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='JavaScript/monjs.js') }}"></script>
    <title>Login Page</title>
</head>
<body>
    <!-- <form>
        <label>username : </label><br>
        <textarea type="text", id="username"></textarea><br>
        <label>password : </label><br>
        <textarea type="password" id="password"></textarea><br>
        <button type="submit" onclick="enter()">enter</button>
        <button type="submit" onclick="new_user()">new user</button>

    </form> -->



<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form action="{{ url_for('password')}}" method="post">
       <!--   con = Container  for items in the form-->
       <div class="con">
       <!--     Start  header Content  -->
       <header class="head-form">
          <h2>Log In</h2>
          <!--     A welcome message or an explanation of the login form -->
          <p>login here using your username and password</p>
       </header>
       <!--     End  header Content  -->
       <br>
       <div class="field-set">
         
          <!--   user name -->
             <span class="input-item">
               <i class="fa fa-user-circle"></i>
             </span>
            <!--   user name Input-->
             <input class="form-input" name="username" id="txt-input" type="text" placeholder="@UserName" required>
         
          <br>
         
               <!--   Password -->
         
          <!-- <span class="input-item">
            <i class="fa fa-key"></i>
           </span> -->
          <!--   Password Input-->


          <!-- <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required> -->
         
    
         
         
          <br>
    <!--        buttons -->
    <!--      button LogIn -->
          <button type="submit" onclick='enter()' class="log-in"> <a href="{{ url_for('password') }}" class="size">Log In </a></button>
       </div>
      
    <!--   other buttons -->
       <div class="other">
    <!--      Forgot Password button-->
          <button class="btn submits frgt-pass"><a href="{{url_for('SignUp')}}">Forgot Password</a></button>
    <!--     Sign Up button -->
          <button type="submit" onclick="new_user()" class="btn submits sign-up"> <a href="{{url_for('SignUp')}}">Sign Up</a> </button>
    <!--         Sign Up font icon -->
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
    <!--      End Other the Division -->
       </div>
         
    <!--   End Container  -->
      </div>
      
      <!-- End Form -->
    </form>
    <a href="{{url_for('SignUp')}}">Forgot Password</a>
    </div>

</body>
</html>