<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='CSS/style.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='JavaScript/monjs.js') }}"></script>

    <!-- use this script to test out the page -->

    <!-- <link href = '../../static/CSS/style.css' rel="stylesheet" media="screen">
    <script src="../../static/JavaScript/monjs.js"></script> -->
    
    <title>Super Secret Website</title>
</head>
<body>
    <div id="Big_Red">
        <h1>Do not press this button</h1>

        <button class="round_btn" id="red" onclick="haha()">Do Not Press</button>
    </div>
</body>
</html>